#cart {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 152px;
  margin-top: 120px;
  border: 1px solid black;
  height: 400px;
  border-radius: 25px;
  width: 40%;
  background-color: rgb(238, 237, 237);
}

.cart-items {
  overflow-y: scroll;
  height: 100%;
}

.cart-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#cart {
  padding: 1em;
}
