.page-header {
  height: 100px;
  width: 100%;
  background-color: #1e8e9f;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
}

li {
  display: inline-block;
  text-decoration: none;
  padding-left: 1.5em;
}

a, a:hover, a:visited, a:active{
  color: white;
  text-decoration:none;
}

#restaurant {
  font-size: 2em;
}
