body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1549488344-1f9b8d2bd1f3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3000&q=80");
  font-family: "Sono";
  font-weight: 300;
}

main {
  margin-top: 25em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 80%;
}

#nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 20px 0px 20px;
}

#menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.btn-primary, .btn-primary:active, .btn-primary:visited {
  background-color: #64bcca !important;
}

.btn-primary:hover {
  background-color: #1e8e9f !important;
}

.btn-secondary, .btn-secondary:active, .btn-secondary:visited {
  background-color: #f85e5e !important;
}

.btn-secondary:hover {
  background-color: red !important;
}