#menu {
  margin-top: 65px;
}

#menu-title {
  color: white;
}

.menu-container {
  height: 10em;
  width: 600px;;
  display: flex;
  flex-direction: row;
  align-content: center;
  border: 1px solid black;
  border-radius: 25px;
  margin-bottom: 1em;
  background-color: rgb(238, 237, 237);
}

.menu-items {
  box-sizing: content-box;
  height: 300;
  width: 200;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menu-display {
  margin: 1em;
  border-radius: 50px;
}


.menu-title {
  font-size: 1.2em;
  font-weight: 500;
  padding: 0px;
  margin-top: .3em ;
  margin-bottom: .3em ;
}

.menu-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 60%;
  margin-left: 2em;
}

.info-footer {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.menu-container:hover {
  box-shadow: 10px 5px 5px #c6ccda;
}

.price {
  font-weight: 500;
  font-size: 1em;
}